{% extends "layout.html" %}
{% block body %}
    <form action="{{ url_for('request_entry') }}" method="post" class="add-entry">
      <dl>
        <dt>USER NAME:
        <dd><input type="text" size="30" name="username" placeholder="user for which pub_key was generated" required>
        <br><br>
        <br><br>
        <br><br>
        <dt>ENVIRONMENT:
        <select name="env">
          <option value="">select</option>
          <option value="LATEST">LATEST</option>
          <option value="STABLE">STABLE</option>
          required
        </select>
        <br><br>
        <dd><input type="submit" value="Submit">
      </dl>
    </form>
<body>
   <style>
        ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #377BA8;
        }
        li {
                float: right;
        }

        li a {
                display: block;
                color: white;
                text-align: center;
                padding: 16px;
                text-decoration: none;
        }

        li a:hover {
                background-color: #111111;
        }
   </style>
<ul>
<li><a href="{{ url_for('show_entries') }}">HOME</a></li>
</ul>
</body>
{% endblock %}
